<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shandong.culture.search.mapper.ArticleVersionMapper">
  <resultMap id="BaseResultMap" type="com.shandong.culture.search.entity.ArticleVersion">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="resource_num" jdbcType="VARCHAR" property="resourceNum" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
</mapper>