<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shandong.culture.search.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.shandong.culture.search.entity.Article">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="resource_classification" jdbcType="VARCHAR" property="resourceClassification" />
    <result column="resource_number" jdbcType="VARCHAR" property="resourceNumber" />
    <result column="resource_type" jdbcType="VARCHAR" property="resourceType" />
    <result column="resource_name" jdbcType="VARCHAR" property="resourceName" />
    <result column="resource_lable" jdbcType="VARCHAR" property="resourceLable" />
    <result column="geographical_location" jdbcType="VARCHAR" property="geographicalLocation" />
    <result column="resource_quantity" jdbcType="INTEGER" property="resourceQuantity" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="years" jdbcType="VARCHAR" property="years" />
    <result column="area_covered" jdbcType="VARCHAR" property="areaCovered" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" typeHandler="org.apache.ibatis.type.LocalDateTypeHandler" />
    <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate" typeHandler="org.apache.ibatis.type.LocalDateTypeHandler" />
    <result column="att_url" jdbcType="VARCHAR" property="attUrl" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.shandong.culture.search.entity.Article">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="context" jdbcType="LONGVARCHAR" property="context" />
  </resultMap>
  <sql id="Blob_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    context
  </sql>
</mapper>